header#signin{
    height: auto;
    background: none;
    .top-header{
        background: rgba(0,0,0,.9);
    }
}
section#userSignin{
    form{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        .form-inner{
            input{
                display: block;
                margin-bottom: 15px;
                padding: 5px;
                width: 400px;
                border: 1px solid #e3e3e3;
                transition: all 0.3s ease;
                &:active,&:focus{
                    border-color: #c59d5f;
                }
            }
            input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}
            button{
               text-align: center;
               width: 160px;
               display: block;
               height: 50px;
               background: #c59d5f;
               border: none;
               text-transform: uppercase;
               position: relative;
               outline: 0;
               margin: 10px auto 0;
               font-family: Raleway-Bold;
               font-size: 14px;
               color: #fff;
            }
        }
    }
}

//Register Popup
.signup-popup{
    .signup{
        h1{
            margin-bottom: 15px;
        }
        form {
            padding: 0 60px;
            input{
                display: block;
                margin-bottom: 15px;
                width: 100%;
                padding: 5px;  
                transition: all 0.3s ease; 
                border: 1px solid #e3e3e3;
            }
            input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
            input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
            input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}
        }
    }
    .signup-success{
        display: none;
    }
}